{% extends 'decharlas/main.html' %}

{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body>
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-12">
            <script>
                const url_messages = /decharlas/json/{{room_info.name}} ;
            </script>
            <script type="text/javascript" src= '{% static "/decharlas/script.js" %}'></script>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-info bg-gradient text-dark">
        <form method="POST">
            {% csrf_token %}
            <label for="content">Enter Message</label>
            <input type="text" name="content" id="content">
            <label for="isimg">Image Msg</label>
            <input type="checkbox" name="isimg" id="isimg">
            <button type="submit" value="sendmsg">Send Message</button>
        </form>
    </div>
</div>
</body>



{% endblock %}