{% extends 'decharlas/main.html' %}

{% block content %}

{% if room_list %}
<div class="container-fluid">
   <div class="row">
       <div class="col-xxl-6" id="room_links">

           {% for room in room_list %}
           <a href="/decharlas/{{room.name}}">{{room.name}}</a>
           Dynamic link ->
           <a href="/decharlas/dyn/{{room.name}}">{{room.name}}</a>
           <br><br>

           {% endfor %}
       </div>

       <div class="col-xxl-2">

           {% for unread in room_unread %}

           {% if unread == '-1' %}
           <p>New room</p>
           {% else %}
           <p>{{unread}} unread messages </p>
           {% endif %}

           {% endfor %}

       </div>

       <div class="col-xxl-2">

           {% for total in total_msg %}

           <p>{{total}} total messages</p>

           {% endfor %}

       </div>
       <div class="col-xxl-1">
           {% for vote in vote_list %}
           <p>Likes: {{vote.likes}}</p>
           {% endfor %}

       </div>
       <div class="col-xxl-1">
           {% for vote in vote_list %}
           <p>Dislikes: {{vote.dislikes}}</p>
           {% endfor %}
       </div>



   </div>


</div>


{% else %}
<p>
    No rooms yet, try creating a new one
</p>

{% endif %}

{% endblock %}
