body {
    font-family: Arial, sans-serif;
}
  
  p {
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  details > p {
    margin-left: 1rem;
  }
  
  details > p:first-child {
    margin-top: 0.5rem;
  }
  
  details > p:last-child {
    margin-bottom: 0.5rem;
  }

  help {
    text-align: right;
    color: blue;
    font-size: 32px;
    font-style: italic;
}

h2 {
    color: black;
    font-size: 24px;
}